* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto", arial;
}

.btn-happy {
  color: black;
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: aliceblue;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: all 1s ease;
  border-radius: 5px;

  &:hover {
    background-color: powderblue;
  }
}

.btn-trans:first-of-type {
  border-radius: 5px;
  background-color: yellow;
  border: 1px solid white;
  color: transparent;
  padding: 1rem 3rem;
  animation: shadow 4s infinite forwards;
  &:hover {
    background: red;
    border: 1px solid red;
    box-shadow: -2px -2px 10px red;
    animation: none;
  }
}

.btn-trans:last-of-type {
  border-radius: 5px;
  position: absolute;
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 3rem;
  animation: box-shadow 4s infinite forwards;
  transition: all 2s ease-in-out;
  &:hover {
    background: red;
    border: 1px solid red;
    box-shadow: 2px 2px 10px red;
    animation: none;
  }
}

@keyframes shadow {
  50% {
    background-color: gold;
    box-shadow: 2px 2px 10px gold;
  }
}
@keyframes box-shadow {
  50% {
    background-color: gold;
    box-shadow: -2px -2px 10px gold;
  }
}

#father {
  background: url("../background-leaves.jpg") no-repeat center center;
  background-size: cover;
  .words {
    text-align: center;
    animation: rotate 3s infinite forwards;
    transition: all 2s ease-in-out;
    i {
      color: forestgreen;
      &.heart-icon {
        color: lightpink;
      }
    }
  }
}

@keyframes rotate {
  25% {
    transform: rotate(5deg);
    color: midnightblue;
  }
  50% {
    transform: rotate(0deg);
    color: dodgerblue;
  }
  75% {
    transform: rotate(-5deg);
    color: midnightblue;
  }
  100% {
    transform: rotate(0deg);
    color: dodgerblue;
  }
}
